:root{
    --focus-color: #2196F3;
    --title-color: #212121;
    --contact-color: #757575;
    --model-button: #188CE8;
    --basic-color: #000;
    --border-line-color: #ECECEC;
    --icon-color: #F5F4FA;
    --icon-border-color: #AFB1B8;
}
html {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0px;
    margin-bottom: 0px
}

ul,
ol {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

img {
    display: block;
}

.list{
    list-style: none;
    
}
.link{
    text-decoration: none;
}


body {
    font-family: Roboto;
    color: var(--basic-color);
    background-color: #fff;
    margin: 0 auto;
    
}

.button{
    cursor: pointer;
}

/*--------------------------------------ОБОЛОЧКА-УТИЛИТА-----------------------------------------------------------*/
.container{
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
.flex-container {
    display: flex;
    align-items: baseline;
}


.section{
    padding: 94px 0;
}


.current-page::after{
    content: "";

    position: absolute;
    left: 0;
    top: 100%;
   

    width: 100%;
    height: 4px;
    background-color: var(--focus-color);
    border-radius: 2px;
   
}
/*------------------------------------------------------Header-------------------------------------*/
.header {
    border-bottom: 1px solid var(--border-line-color);
}


.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--basic-color);
    margin-right: 93px;
}
.logo-web{
    color: var(--focus-color);
}
.header-nav-container{
    display: flex;
    align-items: center;
}
.header-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
    display: flex;
}
.header-list-item{
    position: relative;
    
}


.header-list-item:not(:last-child) {
    margin-right: 50px;
}

.header-list-item-link {
    display: block;
    padding: 32px 0;
    color: var(--basic-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-page {
    color: #2196F3;

}

.header-list-item-link:hover,
.header-list-item-link:focus{
    color: var(--focus-color);
    
}

.header-contacts{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.contacts-item:not(:last-child){
    margin-right: 50px;
}
.contacts-item-link{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--contact-color);
    text-decoration: none;  
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item-link:hover ,
.contacts-item-link:focus {
    color: var(--focus-color);
    
   
}
.icon-envelope-item{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-item-link:hover .icon-envelope-item{
    fill: var(--focus-color);
}


/*-----Main------*/

.main-decision-section{
    margin: 0 auto;
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(
    "../images/portfolio/bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;



}

/*----------ICON---------*/
.icon-contact-item{
    margin-right: 10px;
    fill: var(--contact-color);
    width: 16px;
    height: 12px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.contacts-item-link:hover .icon-contact-item,
.contacts-item-link:focus .icon-contact-item{
    fill: var(--focus-color);
    
}

.smartphone{
    width: 10px;
    height: 16px;
}
.icon-container{
    background-color: var(--icon-color);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon{
    width: 70px;
    height: 70px;
    
   
}

/*---------------------ICON-TEAM--------------------------*/
.icon-team{
    width: 20px;
    height: 20px;
    fill: currentColor;
}



.icon-team-network-list {
    display: flex;
    justify-content: center;
}


.icon-team-network-item:not(:last-child) {
    margin-right: 10px;
}

.icon-background-team {
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--icon-border-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-background-team:hover,
.icon-background-team:focus {
    background-color: var(--focus-color);
    color: #fff;
    
}



.portfolio-nav-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

.portfolio-nav-list-item:not(:last-child){
    margin-right: 8px;
}

.main-portfolio-list{
    display: flex;
    flex-wrap: wrap; 
    margin: 0 auto;
 
}
.main-portfolio-list-item{
    margin-bottom: 30px;

}
.main-portfolio-list-item:not(:nth-child(3n)){
    margin-right: 30px;
}

.main-portfolio-list-item:nth-last-child(-n+3){
    margin-bottom: 0px;
}

.main-portfolio-list-link{
    display: block;
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-portfolio-list-link:hover,
.main-portfolio-list-link:focus{
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    
}

.main-portfolio-list-link:hover .main-portfolio-overlay,
.main-portfolio-list-link:focus .main-portfolio-overlay{
    transform: translateY(0%);
}

.main-portfolio-overlay-container{
    position: relative;
    overflow: hidden;

}
.main-portfolio-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;

    padding: 63px 24px;
    
}

.portfolio-description-section{
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-right: 1px solid var(--border-line-color);
    border-bottom: 1px solid var(--border-line-color);
    border-left: 1px solid var(--border-line-color);
}
.main-properties-list{
    display: flex;
   
}

.main-properties-list-item:not(:last-child){
    margin-right: 30px;
}

.main-title-business{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.model-button{
    color: #fff;
    background-color: var(--focus-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    border-radius: 4px;
    text-align: center;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.model-button:hover,
.model-button:focus{
    background-color: var(--model-button);
   
}

/*--------------------------MODAL-OPEN--------------------------------*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
   
    transition:opacity 250ms, visibility 250ms;
}
.is-hidden{
     pointer-events: none;
     opacity: 0;
    visibility: hidden;

}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;


    padding: 8px;
    margin: auto;
    min-width: 528px;
    min-height: 581px;
    background-color: #fff;

}

.close-modal-button{
    position: absolute;
    top: 8px;
    right: 8px;

   width: 30px;
   height: 30px;
   cursor: pointer;
   border-radius: 50%;
   border: 1px solid rgb(0, 0, 0,0.1);

   color: #000;
   background-color: #fff;

   display: flex;
   justify-content: center;
   align-items: center;
   
}

.close-modal-icon{
   width: 18px;
   height: 18px;
   fill: currentColor;
    
}
/*-------------------/MODAL-WINDOW-----------------------*/
/*-----------------------------------FORM-MODAL--------------------------------------------------*/
.form-modal {
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.form-modal-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);

    margin-bottom: 12px;
}

.form-modal-item {
    display: inline-block;
    
    
}

.form-modal-item:not(:last-child){
    margin-bottom: 10px;
}

.form-modal-prompt{
    display: inline-block;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--contact-color);
    margin-bottom: 4px;

}

.form-modal-input {
    width: 100%;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    height: 40px;
    width: 100%;
}

.form-modal-input:focus{
    outline: none;
    border-color: var(--focus-color);

}

.form-modal-input:focus + .form-modal-icon{
    fill: var(--focus-color);
}

.form-modal-comment{
    width: 100%;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    padding: 12px 16px;
}
.form-modal-comment:focus{
    outline: none;
    border-color: var(--focus-color) ;
}

.form-modal-icon-wrapper{
    position: relative;
}

.form-modal-icon{
    position: absolute;
    top: 50%;
    left: 15px;

    width: 18px;
    height: 18px;
    fill: currentColor;

    transform: translate(-50%, -50%);
}



.person-black{
    width: 12px;
    height: 12px;
}

.phone-black{
    width: 13px;
    height: 13px;
}

.email-black{
    width: 15px;
    height: 12px;
}

.form-modal-textarea {
    margin-bottom: 20px;
}

.form-modal-prompt {}

.form-modal-comment::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}


.form-modal-checkbox {
    margin-bottom: 30px;
}


.form-checkbox-text{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}
/*.form-checkbox-text::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    border-radius: 2px;
    margin-right: 7px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-checkbox:checked + .form-checkbox-text::before{
    content: '';
    background-color: var(--focus-color);
    background-image: url('../images/portfolio/icon/icon-check.svg');
    
    border: none;
  
}*/
.form-input-checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    clip: rect(0 0 0 0);
}
.icon-check {
    display: inline-block;
    width: 16px;
    height: 15px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 2px;
}
.icon-check:focus{
    outline: none;
    border-color: var(--focus-color);
}
.form-input-checkbox:checked + .icon-check{
    border-color: var(--focus-color);
    background-color: var(--focus-color);
    background-image: url('../images/portfolio/icon/icon-check.svg');
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 13px 10px;
    background-position: center;

}

.form-checkbox-link{
    color: var(--focus-color);
}

.form-modal-btn {
    width: 200px;
    height: 50px;
    background-color: var(--focus-color);
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
        
    
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    margin: 0 auto;
}

.form-modal-btn:hover,
.form-modal-btn:focus{
    background-color: var(--model-button);
    cursor: pointer;
}


/*----------------------------------/FORM-MODAL----------------------------------------------------*/

.business-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.visually-hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;  
}



.business-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}

.our-job-section{
    padding-top: 0;
}

.job-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 50px;
}

.example-images{
    display: flex;
    justify-content: center;
    
}

.example-img-item:not(:last-child){
    margin-right: 30px;
    
}

.example-img-item{
    position: relative;
}

.example-text{
    position: absolute;
    left:0;
    top: 100%;
    transform: translateY(-100%);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;

    background-color: rgba(47, 48, 58, 0.8);

    min-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.team-section{
    background-color: #F5F4FA;
    
}

.studio-team-list-item{
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14);
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 50px;
}

.team-list{
    display: flex;
    justify-content: center;
}

.studio-team-list-item:not(:last-child){
    margin-right: 30px;

}

.team-description-section{
    padding: 30px 0;
}

.team-person-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
}

.team-person-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--contact-color);
    margin-bottom: 16px;

}


.portfolio-main-button{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    border-radius: 4px;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-main-button:hover,
.portfolio-main-button:focus{
    background-color: var(--focus-color);
    color: #fff;
    box-shadow: 0px 4px 4px #00000025;
    
}
.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin-bottom: 4px;
}

.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}


/*-----------------OUR-CLIENTS---------------------*/


.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}

.clients-list-example {
    display: flex;
    justify-content: center;

}

.clients-list-item{
    width: 170px;
    height: 92px;
    
}
.clients-list-item:not(:last-child) {
    margin-right: 30px;
}
.clients-list-link{
    width: 100%;
    height: 100%;
    border: 1px solid var(--icon-border-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-border-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover,
.clients-list-link:focus {
    color: var(--focus-color);
    border-color: var(--focus-color);
    
}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}


/*-----Footer------*/
.footer{
    background-color: #2F303A;
    padding: 60px 0;  
}
.footer-logo{
    color: #fff;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    
}

.address{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
}

.address-list-item:not(:last-child) {
    margin-bottom: 9px;
}


.list-item{
    text-decoration: none;
    color: #ffffff99;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item:hover,
.list-item:focus{
    color: var(--focus-color);
    
}


.map{
    color: #fff;
}

/*------------------PROPOSAL-----------------*/

.join-section-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
}
.footer-adress{
    margin-right: 70px;
}


.join-media-footer {
    display: flex;
}



.media-footer-list:not(:last-child) {
        margin-right: 10px;
}


.media-footer-link {
    display: flex;
    border-radius: 50%;
    background-color: rgb(255, 255, 255,0.1);
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-footer-link:hover,
.media-footer-link:focus {
    background-color: var(--focus-color);
   
}

.icon-media-footer {
    width: 20px;
    height: 20px;
    fill: #fff;
}



.footer-form{
    margin-left: auto;
}

.footer-form-text {
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;

    margin-bottom: 20px;
}

.footer-form-label {}

.footer-form-container{
    display: flex;
    align-items: center;
}
.footer-form-input {
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 358px;
    height: 50px;

    background-color: transparent;
    color: #fff;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    margin-right: 12px;
}

.footer-form-input:focus{
    border-color: var(--focus-color);
    outline: none;
}

.footer-form-btn{
    position: relative;

    min-width: 200px;
    min-height: 50px;
    padding: 10px 28px;
    border: none;
    background-color: var(--focus-color);
    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    
    
}

.footer-form-btn-text{
    
    color: #fff;
    
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    
    letter-spacing: 0.06em;

    margin-right: 10px;
}

.footer-icon-send{
    position: absolute;
    bottom: 13px;
}